{% extends 'base.html' %}
{% block main_section %}
    {% for post in posts %}
        <div class="alert alert-light">
                        <a href="{% url 'post_detail' post.id %}" class="alert-l" ><h1>{{ post.title }}</h1></a>
            <p>{{ post.text| striptags|truncatechars:200 }}</p>
            <div>
                <div class="mt-2">
                    <span class="text-muted">Публикация: {{ post.creation_date| date:"d E Y  в H:i:s" }}</span>
                    <p><b>Автор: {{ post.author }}</b></p>
                </div>
            </div>
            {% for tags in post.tags.all %}
            <a href="{{ tags.get_absolute_url }}">#{{ tags.name }}</a>
            {% endfor %}
        </div>
    {% endfor %}
    {% if is_paginated  and user.is_authenticated %}
        {% if page_obj.has_previous %}
            <a href="/" class="btn btn-outline-secondary">Начало</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-secondary">Предыдущая</a>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if i == page_obj.number %}
                <button class="btn btn-secondary">{{ i }}</button>
            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                <a href="?page={{ i }}" class="btn btn-outline-secondary">{{ i }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-secondary">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-secondary">Последняя</a>
        {% endif %}
    {% endif %}
{% endblock main_section %}

