{% extends 'base.html' %}
{% block main_section %}
    <div class="alert alert-light">
        {% if object.img %}
            <img height="500px"  src="{{ object.img.url }}" alt="">
        {% endif %}
        <h1 class="mt-2 ">{{ object.title }}</h1>
        <p>{{ object.text|safe }}</p>
        {% for tags in post.tags.all %}
        <a href="{{ tags.get_absolute_url }}">#{{ tags.name }}</a>
        {% endfor %}
                    <hr>
        <div class="row">

            <div class="mt-2 ">
                <p><b>Автор: {{ object.author }}</b></p>
                <span class="text-muted">Создан: {{ object.creation_date| date:"d E Y  в H:i:s" }}</span>
                <br>
                <span class="text-muted">Опубликован: {{ object.pub_date| date:"d E Y  в H:i:s" }}</span>
                <br>
                <span class="text-muted">Обновлен: {{ object.upd_date| date:"d E Y  в H:i:s" }}</span>
            </div>

        </div>
           </div>
{% endblock main_section %}


